<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>Search</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#3b85f7">
    <meta http-equiv="cache-control" content="max-age=604800000" />
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="./static/favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body style="font-family: 'Microsoft YaHei UI',sans-serif">
    <div id="container"></div>
    <script src="//cdn.bootcss.com/babel-polyfill/6.20.0/polyfill.min.js"></script>
    <script src="//cdn.bootcss.com/react/15.4.1/react.min.js"></script>
    <script src="//cdn.bootcss.com/react/15.4.1/react-dom.min.js"></script>
    <script src="//cdn.bootcss.com/echarts/3.4.0/echarts.min.js"></script>
    <script src="/static/bundle.js"></script>
</body>
</html>
